.main-div{
    height: 100%;
    width: 100%;
    display: flex;
}

.table-section{
    height: 100%;
    width: 83%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.contact-section{
    height: 100%;
    width: 17%;
}